{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">

    <h3>Başar Web Sitesi Makaleler</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae saepe iure reiciendis commodi inventore? Dignissimos nisi, placeat dolorum obcaecati eveniet dolores, eos quo porro reprehenderit optio recusandae, fuga facere nobis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sed minus voluptas dolorem culpa consequatur perspiciatis, alias aliquid, quia voluptatem est quas consectetur provident perferendis pariatur neque? Eius, molestiae suscipit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quis blanditiis cumque mollitia assumenda aperiam sed vel doloribus? Repellat dolor ullam magnam sint? Est quibusdam dolorem id enim rerum tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus aspernatur molestiae modi enim! Modi voluptatibus, possimus excepturi nulla dicta perferendis quis exercitationem deserunt obcaecati? Illo possimus voluptates officia rerum?
        
    </p>



</div>



{% endblock  %}